In [68]:
import pandas as pd
import numpy as np
import data_cleaning as dc
df = dc.full_clean()

In [20]:
# df = pd.read_csv('./data/borough_data_cleaned.csv')
# df.head()

,Unnamed: 0,code,area,inner_outer,population,unemployment,active_business,crime,house_price,council_tax,council_rental,greenspace,carbon_emmision,cars,pub_transport,achievement,life,happiness,anxiety,political
0,0,E09000002,Barking and Dagenham,Outer London,57.3,11.0,5690,83.4,215000,1332,35.9,33.6,783.2,56966,3.0,58.0,7.14,7.05,3.05,Lab
1,1,E09000003,Barnet,Outer London,44.5,8.5,24555,62.7,400000,1397,11.1,41.3,1552.7,144717,3.0,67.3,7.48,7.37,2.75,Cons
2,2,E09000004,Bexley,Outer London,39.9,7.6,8430,51.8,250000,1446,15.2,31.7,1060.9,108507,2.6,60.3,7.38,7.21,3.29,Cons
3,3,E09000005,Brent,Outer London,76.1,7.5,14680,78.8,385000,1354,20.4,21.9,1292.6,87802,3.7,60.1,7.25,7.22,2.92,Lab
4,4,E09000006,Bromley,Outer London,21.7,5.3,14825,64.1,335000,1325,13.2,57.8,1334.7,153908,2.8,68.0,7.54,7.44,3.26,Cons

In [75]:
#Most and Least GreenSpace
df_green = df.sort_values(by=['greenspace'],ascending=False)
df_green['area'].iloc[0], df_green['area'].iloc[-1]

('Havering', 'City of London')

In [70]:
#Highest and Lowest House Price
df_price = df.sort_values(by=['house_price'],ascending=False)
df_price['area'].iloc[0], df_price['area'].iloc[-1]

('Kensington and Chelsea', 'Barking and Dagenham')

In [71]:
#Highest and Lowest Happiness
df_hap = df.sort_values(by=['happiness'],ascending=False)
df_hap['area'].iloc[0], df_price['area'].iloc[-1]

('Kensington and Chelsea', 'Barking and Dagenham')

In [72]:
#Highest and Lowest Carbon Emmission
df_car = df.sort_values(by=['carbon_emmision'],ascending=False)
df_car['area'].iloc[0], df_price['area'].iloc[-1]

('Westminster', 'Barking and Dagenham')

In [76]:
#Highest and Lowest House Population
df_pop = df.sort_values(by=['population'],ascending=False)
df_pop['area'].iloc[0], df_price['area'].iloc[-1]

('Islington', 'Barking and Dagenham')

In [57]:
#Grouping by political party
df_pol = df.sort_values(by=['political'])
df_pol[df_pol['political'] == 'Cons']
df_pol[df_pol['political'] == 'Lab']

,Unnamed: 0,code,area,inner_outer,population,unemployment,active_business,crime,house_price,council_tax,council_rental,greenspace,carbon_emmision,cars,pub_transport,achievement,life,happiness,anxiety,political
12,12,E09000014,Haringey,Inner London,92.7,5.7,11875,90.2,405000,1479,33.4,25.5,891.6,61515,4.3,59.7,7.24,7.19,3.18,Lab
26,26,E09000028,Southwark,Inner London,108.2,7.7,15860,100.6,420000,1207,37.2,24.9,1454.5,60438,4.9,61.2,7.47,7.31,3.42,Lab
17,17,E09000019,Islington,Inner London,153.0,4.5,18710,121.2,530000,1276,35.3,12.4,1052.1,38629,5.7,59.9,7.17,7.06,3.70,Lab
23,23,E09000025,Newham,Inner London,93.5,9.1,9645,90.8,250000,1241,31.4,23.9,1441.6,61092,3.9,55.7,7.12,7.18,3.37,Lab
10,10,E09000012,Hackney,Inner London,141.1,5.9,16095,99.6,433000,1293,45.4,23.2,877.8,41800,4.9,60.6,7.03,6.99,3.76,Lab
21,21,E09000023,Lewisham,Inner London,84.7,5.7,9625,77.0,315000,1355,28.1,22.5,930.3,76507,4.1,56.3,7.18,7.26,3.43,Lab
3,3,E09000005,Brent,Outer London,76.1,7.5,14680,78.8,385000,1354,20.4,21.9,1292.6,87802,3.7,60.1,7.25,7.22,2.92,Lab
5,5,E09000007,Camden,Inner London,109.8,4.0,29020,123.5,675000,1337,34.4,24.8,1540.5,46601,5.7,62.7,7.14,7.11,3.61,Lab
7,7,E09000009,Ealing,Outer London,63.5,5.8,17475,75.5,388000,1355,14.3,30.9,1567.3,112845,3.3,62.1,7.29,7.26,3.57,Lab
0,0,E09000002,Barking and Dagenham,Outer London,57.3,11.0,5690,83.4,215000,1332,35.9,33.6,783.2,56966,3.0,58.0,7.14,7.05,3.05,Lab
11,11,E09000013,Hammersmith and Fulham,Inner London,111.8,4.7,13465,113.2,661000,1023,25.9,19.1,971.3,43843,4.7,60.5,7.41,7.16,3.09,Lab
9,9,E09000011,Greenwich,Outer London,58.8,8.1,8975,79.4,317000,1276,34.2,34.4,1004.5,78185,3.4,58.8,7.20,7.20,3.40,Lab
13,13,E09000015,Harrow,Outer London,49.8,4.6,14000,50.4,370000,1529,8.9,34.6,837.7,100326,2.9,66.4,7.33,7.31,2.71,Lab
22,22,E09000024,Merton,Outer London,55.7,4.6,11225,59.7,385000,1401,16.2,34.6,844.6,72777,3.4,67.8,7.28,7.13,3.56,Lab
6,6,E09000008,Croydon,Outer London,44.4,4.1,14400,77.0,265000,1466,16.7,37.1,1452.2,140049,3.2,57.7,7.10,7.18,3.30,Lab
16,16,E09000018,Hounslow,Outer London,48.9,4.3,13035,79.2,319950,1375,19.2,39.6,1420.7,94042,3.0,63.2,7.31,7.40,3.39,Lab
24,24,E09000026,Redbridge,Outer London,53.3,7.9,13160,69.7,301500,1391,11.3,40.6,963.5,106339,3.0,68.7,7.32,7.30,3.20,Lab
8,8,E09000010,Enfield,Outer London,41.0,3.8,13015,69.4,285000,1395,17.2,45.6,1397.5,119653,3.0,59.9,7.26,7.33,2.60,Lab
29,29,E09000031,Waltham Forest,Outer London,71.1,5.4,9875,78.0,320000,1447,19.9,31.4,850.5,76217,3.6,58.3,7.19,7.12,3.14,Lab
20,20,E09000022,Lambeth,Inner London,121.4,5.9,20900,104.6,420000,1239,29.8,17.3,1257.3,66791,5.0,57.1,7.14,7.20,3.53,Lab